@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        DataAnnotations & Partial Views
    </h1>
    <p class="lead">Las DataAnnotations en el marco .Net significa agregar un significado adicional a los datos agregando etiquetas de atributos..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Fáciles de implementar.
        </h2>
        <p>
            Son añadidas a cada campo con los atributos que se utilicen.

        </p>
        <p><a class="btn btn-default" href="https://1drv.ms/w/s!AovaBMZOG7x1o3jYoe-t_ILwVBfI">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Facilitan el trabajo de validaciones de campos HTML.
        </h2>
        <p>
            Gracias a los atributos validación, visualización y modelado, permite un mejor manejo de las validaciones y los errores mostrados en la vista.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            DataAnnotations personalizados.
        </h2>
        <p>
            Además de las DataAnnotations que Visual Studio provee, se pueden crear DataAnnotations personalizados para casos muy específicos.
        </p>
    </div>
</div>