@model DataAnotations_PartialViews.Models.marca

    <h4>Imagen</h4>
            <div>
                <img width="200" src="~/Uploads/@Html.DisplayFor(model => model.imagen)" />

            </div>
            @Html.DisplayFor(model => model.imagen)
